// Fuentes 
//Pixel
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
//OpenSans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

$pixel: "Pixelify Sans", sans-serif;
$open: "Open Sans", sans-serif;
$regular: 400;
$bold: 700;

//Colores

$negro: #000;
$blanco: #fff;
$lila: #8718E1;
$card: #c567ff73;
$hover: #8718e177;
$grisOscuro: #333333;